/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root {
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  -webkit-app-region: drag;
}

button {
  -webkit-app-region: no-drag;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Standard mode scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200; /* Standard mode track color */
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-lg border border-gray-200; /* Standard mode thumb color */
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500; /* Standard mode thumb hover color */
}

/* Dark mode scrollbar styles */
.dark ::-webkit-scrollbar-track {
  @apply bg-gray-700; /* Dark mode track color */
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-lg border border-gray-700; /* Dark mode thumb color */
}

.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400; /* Dark mode thumb hover color */
}